{{#extend "layout"}}
  {{#replace "head"}}
  <title>FuManchu Documenation</title>
  {{/replace}}
  {{#replace "title"}}FuManchu Documenation{{/replace}}

  {{#replace "body"}}
    
  {{/replace}}
{{/extend}}