<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    {{#block "head"}}{{/block}}
    {{#block "styles"}}
    <link rel="stylesheet" type="text/css" href="{{bowerPath}}semantic-ui/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="{{basePath}}assets/docs.css" />
    {{/block}}
  </head>

  <body>
  {{>navigation}}
  </body>
</html>