<div class="ui fixed inverted main menu">
  <div class="container">
    <a class="launch item"><i class="content icon"></i> Menu</a>
    <div class="item">{{#block "title"}}FuManchu{{/block}}</div>
    <a class="popup icon github item" data-content="View project on GitHub" href="https://github.com/Antaris/FuManchu" target="_blank">
      <i class="alternate github icon"></i>
    </a>
  </div>
</div>